.*
aclocal.m4
autom4te.cache/
sourcemud
sourcemud-bin
sourcemud.conf
sourcemud-ctrl
compile
config.*
configure
depcomp
.deps
.dirstamp
include/config.h
include/config.h.in
include/generated/
include/stamp-h1
install-sh
Makefile
missing
.deps/
.build/
src/cmd/commands.h
src/generated/
tools/replace.sh
*~
sourcemud.pid
