.*
aclocal.m4
autom4te.cache/
sourcemud
sourcemud-bin
sourcemud.conf
sourcemud-ctrl
compile
config.*
configure
configure.*
depcomp
.deps
.dirstamp
include/config.h
include/config.h.in
include/generated/
include/stamp-h1
install-sh
Makefile
missing
*.o
src/cmd/commands.h
src/generated/
src/scriptix/grammar.cc
src/scriptix/grammar.hh
src/scriptix/lexer.cc
tools/replace.sh
